<script type="application/javascript">
  function calc(ch) {
    if (ch === "=") {
      // 何も入力されていないとエラーになるのでその対策
      if (document.getElementById('calc').value === "") {
        document.getElementById('calc').value = ""
      } else {
        document.getElementById('calc').value = eval(document.getElementById('calc').value);
      }
    } else if (ch === "C") {
      document.getElementById('calc').value = "";
    } else {
      document.getElementById('calc').value += ch;
    }
  }
</script>

<!--
<div class="intermediate-expression">
  <p>3 + 3</p>
</div>
-->

<div class="calculator">
  <input type="text" id="calc" class="calculator-screen" value="" placeholder="0" disabled />
  <div class="calculator-keys">
    <button type="button" class="operator rotateY" value="+" onClick="calc('+')">+</button>
    <button type="button" class="operator rotateY" value="-" onClick="calc('-')">-</button>
    <button type="button" class="operator rotateY" value="*" onClick="calc('*')">&times;</button>
    <button type="button" class="operator rotateY" value="/" onClick="calc('/')">&divide;</button>
    <button type="button" class="rotateX" value="7" onClick="calc('7')">7</button>
    <button type="button" class="rotateX" value="8" onClick="calc('8')">8</button>
    <button type="button" class="rotateX" value="9" onClick="calc('9')">9</button>
    <button type="button" class="operator rotateY" value="(" onClick="calc('(')">(</button>
    <button type="button" class="rotateX" value="4" onClick="calc('4')">4</button>
    <button type="button" class="rotateX" value="5" onClick="calc('5')">5</button>
    <button type="button" class="rotateX" value="6" onClick="calc('6')">6</button>
    <button type="button" class="operator rotateY" value=")" onClick="calc(')')">)</button>
    <button type="button" class="rotateX" value="1" onClick="calc('1')">1</button>
    <button type="button" class="rotateX" value="2" onClick="calc('2')">2</button>
    <button type="button" class="rotateX" value="3" onClick="calc('3')">3</button>
    <button type="button" class="rotateX" value="0" onClick="calc('0')">0</button>
    <button type="button" class="decimal rotateY" value="." onClick="calc('.')">.</button>
    <button type="button" class="all-clear scale" value="all-clear" onClick="calc('C')">AC</button>
    <button type="button" class="equal-sign rotateZ" value="=" onClick="calc('=')">=</button>
  </div>
</div>

<style>
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.intermediate-expression {
  background-color: silver;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
}

button:hover {
  background-color: #eaeaea;
}

.operator {
  background-color: #c8cbce;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-area: 4 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.rotateY {
  transition-duration: 2s;
}

.rotateY:hover {
  transform:rotateY(360deg);
}

.rotateX {
  transition-duration: 2s;
}

.rotateX:hover {
  transform:rotateX(360deg);
}

.scale {
  color:#fff;
  transition-duration: 2s;
}

.scale:hover {
  transform:scale(3, 3);
}

.rotateZ {
  transition-duration: 1s;
}

.rotateZ:hover {
  transform:rotateZ(360deg);
}
</style>
